body {
   padding: 30px;
}

@media (max-width: 980px) {
   body {
      padding: 0;
   }
}

.navbar {
   margin-bottom: 30px;
}


.carousel .item {
   height: 500px;
   background-color: #777;
}

footer {
   border-top: 1px solid #eee;
   margin-top: 40px;
   padding-top: 40px;
   padding-bottom: 40px;
}